  #germplasm-main
  {
    background-color: rgba(241,241,241, 0.8);
    margin-top:0.5em;
    padding-top:0.75em;
    overflow-x:auto;
  }
  button[id^='request-germplasm-']
  {
    margin:1.0em;
    padding-bottom:0.5em;
  }
  #germplasm-datatable
  {
    background-color: white;
  }
  #germplasm-jumbotron
  {
    background-color: rgba(125, 62, 188, 0.7);
    text-align: center; 
  }
  .jumbotron h1
  {
    color:white;
  }
  table tbody tr.even
  {
    background-color: rgba(125, 62, 188, 0.12);
  }
  #main-nav-navbar
  {
    text-align: center;
    vertical-align: center;
  }
  #main-nav-navbar
  {
    text-align: center;
    vertical-align: center;
  }
  #main-nav-right
  {
    margin-right: 0.5em;
  }
  #main-nav-left
  {
    margin-left: 1.0em
  }
  #main-nav-subtext
  {
    color: rgba(087, 087, 087, 1);
  }
  .navbar-nav > li > .dropdown-menu 
  {
    background-color: #222;
    border-color: #080808;    
  }
  .navbar-nav > li > .dropdown-menu a
  {   
    color: white;
  }
  .dropdown-menu > li > a:hover {
    background-color: rgba(087, 087, 087, 1);
    background-image: none;
  }
  .scrollable-menu {
    height: auto;
    max-height: 110px;
    overflow: auto;
  }
  .btn-primary
  {
    background-color: rgba(125, 62, 188, 0.7);
  }
  .btn-primary:active
  {
    background-color: rgba(125, 62, 188, 0.9);
  }
  .btn-primary:hover
  {
    background-color: rgba(125, 62, 188, 0.9);
  }
  .btn-primary:focus
  {
    background-color: rgba(125, 62, 188, 0.9);
  }
  .btn-primary:disabled, .btn-primary:disabled:hover
  {
    background-color: grey;
  }
  .modal-dialog,
  .modal-content {
    height: 600px;
  }
  .modal-body {
    max-height: calc(100% - 120px);
    background-color: rgba(125, 62, 188, 0.12);
    overflow: auto;
  }
  textarea.form-control
  {
    height: 480px;
  }
