<!DOCTYPE html>
<html lang="en">
<head>
<title>BLAST</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.3.14/crossfilter.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.31/dc.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <script src="https://rawgit.com/legumeinfo/lis-taxon-symbology/master/dist/bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.31/dc.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
</head>
<style>
#blast-main
  {
    background-color: rgba(241,241,241, 0.8);
    margin-top:0.5em;
    padding-top:0.75em;
    overflow-x:auto;
  }
  #blast-jumbotron
  {
    background-color: rgba(125, 62, 188, 0.7);
    text-align: center;
  }
  .jumbotron h1
  {
    color:white;
  }
  #main-nav-right
  {
    margin-right: 0.5em;
  }
  #main-nav-left
  {
    margin-left: 1.0em
  }
  #main-nav-subtext
  {
    color: rgba(087, 087, 087, 1);
  }
  #blast-sequence-input
  {
    align: top;
    height: 400px;
  }
  .dropdown-elements:hover
  {
    color: rgba(087, 087, 087, 1);
  }
  .btn
  {
    background-color: rgba(125, 62, 188, 0.7);
  }
  #blast-form
  {
    padding-bottom: 0.75em;
  }
  /*.form-group{
    padding-top: 0.5em;
  }*/
</style>
<body background="https://upload.wikimedia.org/wikipedia/commons/c/c6/Medicago_minima_eF.jpg">
<div class="container" id="blast-main">
        <nav class="navbar navbar-inverse" id="main-nav-navbar">
        <ul class="nav navbar-nav">
            <li><a href="http://fisher.ncgr.org:50021"><b>Home</b></a></li>
            <li><a href="http://fisher.ncgr.org:50021/germplasm"><b>Germplasm</b></a></li>
            <li><a href="#"><b>BLAST</b></a></li></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="main-nav-right">
            <li><a href="#"><b>Help</b></a></li>
            <li><a href="#"><b>About</b></a></li>
            <li><a href="#"><b>Links</b></a></li>
        </ul>
        </nav>
    <div class="jumbotron" id="blast-jumbotron">
        <h1 id="blast-header">Medicago BLAST Service</h1>
    </div>
    <form id="blast-form" action="http://fisher.ncgr.org:50021/blast-results" method="POST" enctype='multipart/form-data' encoding='multipart/form-data'>
<!--    <form id="blast-form" action="http://fisher.ncgr.org:50021/test_post" method="POST">!-->
	    <div class="form-group">
		  <div class="col-sm-12">
		    <label for="blast-database-select">Select BLAST Database</label>
			<select class="form-control" id="blast-database-select" name="blast-database-select"></select>
		  </div>
		</div>
		<div id="blast-options" class="form-group">
		  <div class="col-sm-3">
		    <label for="blast-maxtagets-input">Max Targets</label>
			<input type="text" class="form-control" id="blast-maxtargets-input" name="blast-maxtargets-input"></input>
		  </div>
		  <div class="col-sm-3">
		    <label for="blast-cullinglimit-input">Culling Limit</label>
			<input type="text" class="form-control" id="blast-cullinglimit-input" name="blast-cullinglimit-input"></input>
		  </div>
		  <div class="col-sm-3">
		    <label for="blast-evalue-input">E Value</label>
			<input type="text" class="form-control" id="blast-evalue-input" name="blast-evalue-input"></input>
		  </div>
		  <div class="col-sm-3">
		    <label for="blast-minlength-input">Minimum Length</label>
			<input type="text" class="form-control" id="blast-minlength-input" name="blast-minlength-input"></input>
		  </div>
		</div>
        <div class="form-group">
		  <div class="col-sm-12">
            <label for="blast-sequence-input">Input Sequence to BLAST</label>
            <textarea class="form-control" id="blast-sequence-input" name="blast-sequence-input" placeholder="SEQUENCE HERE"></textarea>
		  </div>
        </div>
		<div class="form-group">
		  <div class="col-sm-12">
            <label for="sequence-input-file">FASTA Input</label>
            <input type=file class="form-control-file" id="sequence-input-file" name="sequence-input-file" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Select FASTA Sequence File to Upload</small>
		  </div>
        </div>
		<button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log('Form Poplation and Submit Logic HERE!');
		let dropdown = document.getElementById('blast-database-select');
		console.log(dropdown);
		dropdown.length = 0;
//		let default_option = document.createElement('option');
//		default_option.text = 'Select BLAST DB';
//		dropdown.add(default_option);
		const blast_dbs = 'http://fisher.ncgr.org:50021/api/v1/blast/databases';
		const request = new XMLHttpRequest();
		request.open('GET', blast_dbs, true);
		request.onload = function (){
		    if(request.status == 200){
			    console.log('RETURNED 200');
			    const dbs = JSON.parse(request.responseText);
				let option;
				for (let i = 0; i < dbs.length; i++) {
                    option = document.createElement('option');
                    option.text = dbs[i].db_name;
                    option.value = dbs[i].db_lookup;
                    dropdown.add(option);
                }
			} else {
			    console.log('ERROR ON request ' + request.status);
			}
		};
		dropdown.selectedIndex = 0;
		request.onerror = function() {
		    console.log('SERVER RETURNED AN ERROR!')
		};
		request.send();
    });
    function alert_placeholder(){
        alert('Coming Soon!')
    }
</script>
</html>
