            <footer class="page-footer">
                <div class="row" style="padding-bottom:0.5em;">
                    <div class="col-md-12 mt-md-0 mt-3">
                        <h5 class="text-uppercase">Powered by The Legume Federation, NSF and NCGR LIS</h5>
                        <a class="inline-block" href="https://www.legumefederation.org/en/"><img src="https://www.legumefederation.org/media/filer_public_thumbnails/filer_public/62/13/62139bfd-4b06-4685-9363-ec0512adc1cb/legfed-member.png__163x71_q85_crop_subsampling-2_upscale.png" alt="LEGFED PARTNERS LOGO"></a>
                         <a class="inline-block" href="https://www.nsf.gov/"><img src="https://www.legumefederation.org/media/filer_public_thumbnails/filer_public/15/e7/15e7b192-ea64-4bc6-9aa4-710d54f8bb62/nsf1.png__80x80_q85_crop_subsampling-2_upscale.png" alt="NSF LOGO"></a>
<!--                        <a class="inline-block" href="http:/<F12>/ncgr.org/"><img src="#" alt="NCGR LOGO"></a>--!>
                    </div>
            <!--        <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">Links to Site Partners</h5>
                        <a style="color:white;" href="http://medicagohapmap.org/">ORIGINAL MEDICAGO HAPMAP</a>
                    </div>--!>
                </div>
            </footer>
