    <footer class="page-footer">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Powered by the Legume Federation</h5>
                <img src="https://www.legumefederation.org/media/filer_public_thumbnails/filer_public/62/13/62139bfd-4b06-4685-9363-ec0512adc1cb/legfed-member.png__163x71_q85_crop_subsampling-2_upscale.png" alt="LEGFED PARTNERS LOGO">
                <p>Links and stuff</p>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <p>SOME COOL LOGO OF SPONSORS</p>
            </div>
        </div>
    </footer>
