    <nav class="navbar navbar-inverse" id="main-nav-navbar">
        <ul class="nav navbar-nav">
            <li><a href="http://fisher.ncgr.org:50021"><b>Home</b></a></li>
            <li><a href="http://fisher.ncgr.org:50021/germplasm"><b>Germplasm</b></a></li>
            <li><a href="http://fisher.ncgr.org:50021/blast"><b>BLAST</b></a></li></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="main-nav-right">
            <li><a href="#"><b>Help</b></a></li>
            <li><a href="#"><b>About</b></a></li>
            <li><a href="#"><b>Links</b></a></li>
        </ul>
    </nav>
